[submodule "src/TST.TypeReasoner"]
	path = src/TypeReasoner
	url = https://github.com/Weissger/TST.TypeReasoner
[submodule "src/TST.SubClassReasoner"]
	path = src/SubClassReasoner
	url = https://github.com/Weissger/TST.SubClassReasoner
